%table#inbox-table.table.table-striped.table-hover
  %tbody
    %tr#msg1.unread
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          Alex Jones
      %td.inbox-data-message
        %div
          %span
            %span.label.bg-color-orange WORK
            Karjua Marou
          New server for datacenter needed
      %td.inbox-data-attachment.hidden-xs
        %div
          %a.txt-color-darken{"data-original-title" => "FILES: rocketlaunch.jpg, timelogs.xsl", "data-placement" => "left", :href => "javascript:void(0);", :rel => "tooltip"}
            %i.fa.fa-paperclip.fa-lg
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg2.unread
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          Sadi Orlaf
      %td.inbox-data-message
        %div
          %span
            %span.label.bg-color-teal HOME
            SmartAdmin.com
          Sed ut perspiciatis unde....
      %td.inbox-data-attachment.hidden-xs
        %div
          %a.txt-color-darken{"data-original-title" => "rocketlaunch.jpg, timelogs.xsl", "data-placement" => "left", :href => "javascript:void(0);", :rel => "tooltip"}
            %i.fa.fa-paperclip.fa-lg
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg3
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          Arik Lamora
      %td.inbox-data-message
        %div
          %span Facebook.com
          Sed ut perspiciatis unde omnis iste natus error...
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg4
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          Robin Hood
      %td.inbox-data-message
        %div
          %span 10 Jobs
          Sed ut perspiciatis unde omnis iste natus error...
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg5
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          John Limar
      %td.inbox-data-message
        %div
          %span Project Date
          Sed ut perspiciatis unde omnis iste natus...
      %td.inbox-data-attachment.hidden-xs
        %div
          %a.txt-color-darken{"data-original-title" => "payscale-changes.pdf", "data-placement" => "left", :href => "javascript:void(0);", :rel => "tooltip"}
            %i.fa.fa-paperclip.fa-lg
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg6
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          Jeff Hopkin
          %span.text-danger Draft
      %td.inbox-data-message
        %div
          %span Hey John!
          Sed ut perspiciatis unde omnis...
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg7
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          Toronto News
      %td.inbox-data-message
        %div
          %span Mayor Rod Fierd!
          Sed ut perspiciatis unde sit...
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg8
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          Michael Bleigh
      %td.inbox-data-message
        %div
          %span Past due
          Sed ut perspiciatis unde omnis iste na
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg9
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          Me, Navin
      %td.inbox-data-message
        %div
          %span
            %span.label.bg-color-teal HOME
            John!
          Sed ut perspiciatis...
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg10
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          Trello Laka
      %td.inbox-data-message
        %div
          %span Project development
          @Sed ut perspiciatis unde omnis...
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg11
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          Doug Baird
      %td.inbox-data-message
        %div
          %span Pora korta casta ricka?
          Sed ut perspiciatis unde omnis iste...
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg12
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          Michael Ray, P. Eng
      %td.inbox-data-message
        %div
          %span John, please add me to your linkedin
          Linked in request pending.
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg13
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          Doug Baird
      %td.inbox-data-message
        %div
          %span Pora korta casta ricka?
          Sed ut perspiciatis unde omnis iste...
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg14
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          Doug Baird
      %td.inbox-data-message
        %div
          %span Pora korta casta ricka?
          Sed ut perspiciatis unde omnis iste...
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg15.unread
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          %i.fa.fa-warning.text-warning
          System Email
      %td.inbox-data-message
        %div
          %span
            %span.label.bg-color-orange WORK
            Sustem Update
          2:00PM to 2PM
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg16
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          Amazon.ca
      %td.inbox-data-message
        %div
          %span Baby deal of the week!
          Two new items on your cart...
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg17
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          New server for datacenter needed New server for datacenter ne...
      %td.inbox-data-message
        %div
          %span Header blha blah
          New server for datacenter needed
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg18
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          New server for datacenter needed New server for datacenter ne...
      %td.inbox-data-message
        %div
          %span Header blha blah
          New server for datacenter needed
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg19
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          System
      %td.inbox-data-message
        %div
          %span SmartAdmin
          You have a new friend request!
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg20
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          System
      %td.inbox-data-message
        %div
          %span SmartAdmin
          You have a new friend request!
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg21
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          System
      %td.inbox-data-message
        %div
          %span SmartAdmin
          You have a new friend request!
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg22
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          System
      %td.inbox-data-message
        %div
          %span SmartAdmin
          You have a new friend request!
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg23
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          Sunny
      %td.inbox-data-message
        %div
          %span Important question!
          Hey John, I hope you are okay...
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg24
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          System
      %td.inbox-data-message
        %div
          %span SmartAdmin
          You have a new friend request!
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg25
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          Dogue Biryrd
      %td.inbox-data-message
        %div
          %span Hey whats up?
          Just checking up on ya...
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg26
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          System
      %td.inbox-data-message
        %div
          %span SmartAdmin
          You have a new friend request!
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg27
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          System
      %td.inbox-data-message
        %div
          %span SmartAdmin
          You have a new friend request!
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg28
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          System
      %td.inbox-data-message
        %div
          %span SmartAdmin
          You have a new friend request!
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg29
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          System
      %td.inbox-data-message
        %div
          %span SmartAdmin
          You have a new friend request!
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
    %tr#msg30
      %td.inbox-table-icon
        .checkbox
          %label
            %input.checkbox.style-2{:type => "checkbox"}/
            %span
      %td.inbox-data-from.hidden-xs.hidden-sm
        %div
          System
      %td.inbox-data-message
        %div
          %span SmartAdmin
          You have a new friend request!
      %td.inbox-data-attachment.hidden-xs
        %div
      %td.inbox-data-date.hidden-xs
        %div
          10:23 am
:javascript
  //Gets tooltips activated
  $("#inbox-table [rel=tooltip]").tooltip();

  $("#inbox-table input[type='checkbox']").change(function() {
  	$(this).closest('tr').toggleClass("highlight", this.checked);
  });

  $("#inbox-table .inbox-data-message").click(function() {
  	$this = $(this);
  	getMail($this);
  })
  $("#inbox-table .inbox-data-from").click(function() {
  	$this = $(this);
  	getMail($this);
  })
  function getMail($this) {
  	//console.log($this.closest("tr").attr("id"));
  	loadURL("#{ajax_email_opened_path}", $('#inbox-content > .table-wrap'));
  }


  $('.inbox-table-icon input:checkbox').click(function() {
  	enableDeleteButton();
  })

  $(".deletebutton").click(function() {
  	$('#inbox-table td input:checkbox:checked').parents("tr").rowslide();
  	//$(".inbox-checkbox-triggered").removeClass('visible');
  	//$("#compose-mail").show();
  });

  function enableDeleteButton() {
  	var isChecked = $('.inbox-table-icon input:checkbox').is(':checked');

  	if (isChecked) {
  		$(".inbox-checkbox-triggered").addClass('visible');
  		//$("#compose-mail").hide();
  	} else {
  		$(".inbox-checkbox-triggered").removeClass('visible');
  		//$("#compose-mail").show();
  	}
  }
