%ul.notification-body
  %li
    %span.padding-10.unread
      %em.badge.padding-5.no-border-radius.bg-color-blueLight.pull-left.margin-right-5
        %i.fa.fa-user.fa-fw.fa-2x
      %span
        2 new users just signed up!
        %span.text-primary martin.luther
        and
        %span.text-primary kevin.reliey
        %br/
        %span.pull-right.font-xs.text-muted
          %i 1 min ago...
  %li
    %span.padding-10.unread
      %em.badge.padding-5.no-border-radius.bg-color-purple.txt-color-white.pull-left.margin-right-5
        %i.fa.fa-calendar.fa-fw.fa-2x
      %span
        %a.display-normal{:href => "javascript:void(0);"}>
          %strong Calendar
        \: Sadi Orlaf invites you to lunch!
        %br/
        %strong When: 1/3/2014 (1pm - 2pm)
        %br/
        %span.pull-right.font-xs.text-muted
          %i 3 hrs ago...
  %li
    %span.padding-10
      %em.badge.padding-5.no-border-radius.bg-color-blueLight.txt-color-white.pull-left.margin-right-5
        %i.fa.fa-user.fa-fw.fa-2x
      %span
        %a.display-normal{:href => "javascript:void(0);"} Sofia
        as contact?  
        %button.btn.btn-xs.btn-primary.margin-top-5 accept
        %button.btn.btn-xs.btn-danger.margin-top-5 reject
        %span.pull-right.font-xs.text-muted
          %i 3 hrs ago...
  %li
    %span.padding-10
      %em.badge.padding-5.no-border-radius.bg-color-blue.pull-left.margin-right-5
        %i.fa.fa-facebook.fa-fw.fa-2x
      %span
        Facebook recived +33 unique likes
        %br/
        %span.pull-right.font-xs.text-muted
          %i 4 hrs ago...
  %li
    %span.padding-10
      %em.badge.padding-5.no-border-radius.bg-color-green.pull-left.margin-right-5
        %i.fa.fa-check.fa-fw.fa-2x
      %span
        2 projects were completed on time! Submitted for your approval -
        %a.display-normal{:href => "javascript:void(0);"} Click here
        %br/
        %span.pull-right.font-xs.text-muted
          %i 1 day ago...
  %li
    %span.padding-10
      %em.badge.padding-5.no-border-radius.bg-color-greenLight.pull-left.margin-right-5
        %i.fa.fa-lock.fa-fw.fa-2x
      %span
        Your password was recently updated. Please complete your security questions from your profile page.
        %br/
        %span.pull-right.font-xs.text-muted
          %i 2 weeks ago...
