%ul.notification-body
  %li
    %span
      .bar-holder.no-padding
        %p.margin-bottom-5
          %i.fa.fa-warning.text-warning
          %strong PRIMARY:
          %i Upgrade Infestructure
          %span.pull-right.semi-bold.text-muted 85%
        .progress.progress-md.progress-striped
          .progress-bar.bg-color-teal{:style => "width: 85%;"}
        %em.note.no-margin last updated on 12/12/2013
  %li
    %span
      .bar-holder.no-padding
        %p.margin-bottom-5
          %strong URGENT:
          %i Code foundation
          %span.pull-right.semi-bold.text-muted 65%
        .progress.progress-sm
          .progress-bar.bg-color-teal{:style => "width: 65%;"}
        %em.note.no-margin last updated on 12/12/2013
  %li
    %span
      .bar-holder.no-padding
        %p.margin-bottom-5
          %strong URGENT:
          %i Project Plan
          %span.pull-right.semi-bold.text-muted 25%
        .progress.progress-xs
          .progress-bar.bg-color-teal{:style => "width: 25%;"}
        %em.note.no-margin last updated on 12/12/2013
  %li
    %span
      .bar-holder.no-padding
        %p.margin-bottom-5
          %strong CRITICAL:
          %i Wireframes
          %span.pull-right.semi-bold.text-danger 5%
        .progress.progress-xs
          .progress-bar.progress-bar-danger{:style => "width: 5%;"}
        %em.note.no-margin last updated on 12/12/2013
  %li
    %span
      .bar-holder.no-padding
        %p.margin-bottom-5
          %strong NORMAL:
          %i Compile hotfix
          %span.pull-right.semi-bold.text-muted 99%
        .progress.progress-xs
          .progress-bar.progress-bar-success{:style => "width: 99%;"}
        %em.note.no-margin last updated on 12/12/2013
  %li
    %span
      .bar-holder.no-padding
        %p.margin-bottom-5
          %strong MINOR:
          %i Bug fix #213
          %span.pull-right.semi-bold.text-muted
            %i.fa.fa-check.text-success
            Complete
        .progress.progress-micro
          .progress-bar.progress-bar-success{:style => "width: 100%;"}
        %em.note.no-margin last updated on 12/12/2013
  %li
    %span
      .bar-holder.no-padding
        %p.margin-bottom-5
          %strong MINOR:
          %i Bug fix #134
          %span.pull-right.semi-bold.text-muted
            %i.fa.fa-check.text-success
            Complete
        .progress.progress-micro
          .progress-bar.progress-bar-success{:style => "width: 100%;"}
        %em.note.no-margin.display-inline
          %a{:href => "javascript:void(0);"} see notes
