%aside#left-panel
  / User info
  .login-info
    %span
      / User image size is adjusted inside CSS, it should stay as it
      %a#show-shortcut{"data-action" => "toggleShortcut", :href => "javascript:void(0);"}
        = image_tag 'avatars/sunny.png', alt: 'me', class: 'online'
        %span= current_user.name || 'User'
        %i.fa.fa-angle-down
  / end user info
  / NAVIGATION : This navigation is also responsive
  %nav
    /
      NOTE: Notice the gaps after each icon usage <i></i>..
      Please note that these links work a bit different than
      traditional href="" links. See documentation for details.
    %ul
      = left_menu
  %span.minifyme{"data-action" => "minifyMenu"}
    %i.fa.fa-arrow-circle-left.hit
